<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string/>

    <key>items</key>
    <array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Enable</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Enabled</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>isEnabled</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Singular form</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>key</key>
            <string>sLabel</string>
            <key>default</key>
            <string>NOTIFICATION</string>
            <key>get</key>
            <string>getLocalizedString:</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Plural form</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>key</key>
            <string>pLabel</string>
            <key>default</key>
            <string>NOTIFICATIONS</string>
            <key>get</key>
            <string>getLocalizedString:</string>
        </dict>

    </array>
</dict>
</plist>
